
<table *ngIf="employee">
    <thead>
        <tr>
            <th colspan="2">Employee Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>EmployeeCode</td>
            <td>{{employee.code}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{employee.name}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{employee.gender}}</td>
        </tr>
        <tr>
            <td>AnnualSalary</td>
            <td>{{employee.annualSalary}}</td>
        </tr>
        <tr>
            <td>DateOfBirth</td>
            <td>{{employee.dateOfBirth}}</td>
        </tr>
    </tbody>

</table>
<div *ngIf="!employee">
    {{statusMessage}}
</div>

<div>
    <input type="button" class="btn btn-primary" (click)="onBackButtonClick()" value="Back To Employee List" />
</div>
<div *ngIf="!subscription.closed">
    <input type="button" class="btn btn-primary" (click)="onCancelButtonClick()" value="Cancel Request" />
</div>

<!--<button (click)="toogleDetails()">
    {{ShowDetails?'Hide' :'Show'}} Details
</button>-->
