<employee-count *ngIf="employees" [all]="getTotalEmployeesCount()"
                [male]="getTotalMaleEmployeesCount()"
                [female]="getTotalFemaleEmployeesCount()"
                (countRadioButtonSelectionChanged)="onEmployeeCountRadioButtonChange($event)">
</employee-count>
<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Annual Salary</th>
            <th>Date Of Birth</th>
            <!--<th>Index</th>
            <th>First</th>
            <th>Last</th>
            <th>Odd</th>
            <th>Even</th>-->
        </tr>
    </thead>
    <tbody>
        <!--<tr *ngFor="let employee of employees;trackBy:trackByEmpCode;let i=index;let isFirst=first;let isLast=last;let isOdd=odd;let isEven=even">-->
        <ng-container *ngFor="let employee of employees;">
            <tr *ngIf="selectedEmployeeCountRadioButton=='All' || selectedEmployeeCountRadioButton==employee.gender">
                <td>
                    <a [routerLink]="['/employees',employee.code]">
                        {{employee.code| uppercase}}
                    </a>
                </td>
                <td>{{employee.name| employeeTitle:employee.gender}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.annualSalary | currency: 'USD':true}}</td>
                <td>{{employee.dateOfBirth | date:'dd/MM/y'}}</td>
                <!--<td>{{i}}</td>
                <td>{{isFirst}}</td>
                <td>{{isLast}}</td>
                <td>{{isOdd}}</td>
                <td>{{isEven}}</td>-->
            </tr>
        </ng-container>
        <tr *ngIf="!employees">
            {{statusMessage}}
        </tr>

        <tr *ngIf="employees && employees.length==0">
            <td colspan="5"> No Employees to display</td>
        </tr>
    </tbody>
</table>
<br />
<div>
    Colour Preference:
    <input type="text" [(ngModel)]="colour" [style.background]="colour" />
</div>
<!--<div><button (click)="getEmployees()">Refresh Employees</button></div>-->
